__pycache__/
*.py[cod]
*.pyo

# LLM_Eval artifacts
LLM_Eval/__pycache__/
LLM_Eval/logs/
LLM_Eval/output/
LLM_Eval/Detection/
LLM_Eval/archive/
LLM_Eval/Results/
LLM_Eval/run_hf_generation.sh
LLM_Eval/run_hf_interpretation.sh

slanggen/Demo/.ipynb_checkpoints/
slanggen/Demo/CatGO/
slanggen/Demo/Results/
slanggen/Demo/slanggen/